{{ template "header" . }}

<script type="text/javascript" class="init">

$(document).ready(function () {
  var collapsedGroups = {};
  var lastUpdate = 0;

  $('#dining').DataTable({
    "pageLength": 50,
    "scrollY":    "70vh",
    "scrollCollapse": true,
    "paging": false,
    "order": [[1, "asc"], [0, "asc"]],
    "ajax": {
      "url": '?api=offers.json',
      "cache": true
    },
    "rowGroup": {
      dataSrc: ["Name"],
      startRender: function (rows, group) {
        var collapsed = !collapsedGroups[group];

        rows.nodes().each(function (r) {
          r.style.display = collapsed ? 'none' : '';
        });   
        return $('<tr/>')
          .append( '<td>'+rows.data().pluck('Location')[0]+'</td>')
          .append( '<td colspan="3"><a href="'+
              rows.data().pluck('URL')[0]+
              '" target="_blank">'+
              group+
              '</a><td>'+maybePluralize(rows.count(), 'Offer')+
              '</td>')
          .attr('data-name', group)
          .toggleClass('collapsed', collapsed);
      }
    },
    "columns": [ 
      { "title": "Location",
        "data": ".Location"
      },
      { "title": "Restaurant",
        "data": ".Name"
      },
      { "title": "Date", 
        "data": ".Date",
        "orderable": false
      },
      { "title": "Meal", 
        "data": ".Meal",
        "orderable": false,
        "render": 
          function (data, type, row) {
            return row.Meal+"<br/>For "+row.Seats;
          }
      },
      { "title": "Times", 
        "data": ".Time",
        "orderable": false,
        "render": 
          function (data, type, row) { 
            return data.join("<br />");
          }
      }
    ]
  });
  $('#dining tbody').on('click', 'tr.dtrg-start', function () {
    var name = $(this).data('name');
    collapsedGroups[name] = !collapsedGroups[name];
    $('#dining').DataTable().draw(false);
  });  

  $.getJSON('?api=update', (data) => {
      lastUpdate = data.OffersTime;
      $('#Updated-Offers').text(new Date(lastUpdate*1000).toString());
  });

  setInterval( function() {
    $.getJSON('?api=update', (data) => {
      if (lastUpdate < data.OffersTime) {
        lastUpdate = data.OffersTime;
        $('#Updated-Offers').text(new Date(lastUpdate*1000).toString());
        $('#dining').DataTable().ajax.reload(); 
      }
    })
  }, 30000);
});
</script> 

<h3>Last updated: <span id="Updated-Offers"></span></h3>

<table id="dining" class="table" style="width:90%">
  <thead>
    <tr>
      <th>Location</th>
      <th>Restaurant</th>
      <th>Date</th>
      <th>Meal</th>
      <th>Times</th>
    </tr>
  </thead>
</table>

{{ template "footer" . }}
<!-- vim: noai:ts=2:sw=2:set expandtab: -->

