{{ define "header" }}
<!doctype html>
<html lang="en">
   <header>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      {{ template "datatables-hdr" . }}
      <title>{{.PageTitle}}</title>
   </header>
   <body>
{{ end }}
