[Unit]
Description=Disney Dining 
After=network.target

[Service]
Type=simple
WorkingDirectory=/root/diningSearch
ExecStartPre=/bin/sh -c '/bin/rm -rf /tmp/chromedp-runner*'
ExecStart=/root/diningSearch/diningSearch

[Install]
WantedBy=multi-user.target
